# Database Configuration
DB_ROOT_PASSWORD=rootpassword
DB_NAME=humans
DB_USER=HumansService
DB_PASSWORD=XHHxECL54EjvhhPSBLMU

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Frontend Configuration
VITE_API_URL=http://localhost:8000
